<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoDePerfil.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Pavesio Mauricio Matias</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mí</h1>
        <p>Full Stack Developer Jr en búsqueda
            de oportunidades que me permitan obtener mi primera
            experiencia laboral, continuar aprendiendo en la práctica
            y comenzar a desarrollar mi perfil profesional.
            Comprometiéndome a sumar valor a partir de mis
            competencias, formación y buena predisposición.
            </p>
    </div>
</div>
